.MemoryCard {
  display: inline-block;
  width: 150px;
  height: 80px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  perspective: 800px;
}

.MemoryCardInner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
  border: 3px solid black;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.MemoryCardBack {
  display: inline-block;
  width: 150px;
  height: 80px;
  margin: 3px;
  border-radius: 5px;
  border: solid 3px black;
  cursor: pointer;
  background: repeating-radial-gradient(
  circle,
  white,
  white 10px,
  orange 10px, 
  orange 20px
);
}

.card-image{
  width: 100%;
  padding-top: 20px;
}